body {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	padding:0px;
}

.main {
	height: 75vh;
	width:2500px;
	font-family: 'Work Sans',sans-serif;
	font-size:2rem;
	font-weight: 400;
	padding-right: 100px;
	margin-top: 100px;
	overflow: scroll;
	text-align: left;
}

.nav{
	display: flex;
	width:100vw;
	justify-content: flex-end;

}

p {
	margin:0px;
}

.burger{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: center;
	flex-direction: column;
	padding: 100px;
	position: fixed;
}

.menu {
	transition: all .3s ease-in;
	opacity: 0;
	font-size: 3rem;
	line-height: 1rem;
	font-family: 'Work Sans', sans-serif;
	text-align:left;
}

input {display:none;}

.bar{
	width: 200px;
	height: 25px;
	margin-bottom:25px;
	background-color: black;
	transition: all .3s ease-in;
}

h2 
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	list-style: none;
}


.top{
	transition: all .3s ease-in;
}

.bottom {
	align-content: flex-end;
	transition: all .3s ease-in;
}

.center {
	transition: all .3s ease-in;
}


input:checked ~ .top{
	transform-origin: center center;
	transform: translateY(75px) rotate(-135deg);
	
}

input:checked ~ .center{
	transform-origin: center center;
	transform: rotate(180deg);
	opacity: 0;
}

input:checked ~ .bottom{
	transform-origin: center center;
	transform: translateY(-25px) rotate(135deg);

}

input:checked ~ .menu{
	opacity: 100;
	font-size: 3rem;
	line-height: 1rem;
}




